body {
    font-family: 'Junge', serif;
    background-color: #E2C799;
    color: #9A3B3B;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > h1 {
    align-self: start;
}

.random-button {
    transition: all .2s ease-in-out; 
    margin: 10px;
}

.random-button:hover {
    transform: scale(1.1);
}

.header input {
    background-color: #9A3B3B;
    color: #E2C799;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
}

.drink {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

ul {
    list-style: none;
}

.drink-content {
    max-width: 500px;
}

.drink-image {
    order: -1;
}

.drink-image > img {
    border-radius: 5%;
    box-shadow: 10px 10px 5px #C08261;
}

@media (max-width: 1200px) {

    .header > h1 {
        align-self: auto;
    }

    .drink {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .drink-content {
        margin-top: 50px;
    }

}